@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@600&display=swap');


/* Fonts */

.fontsfam {
  font-family: 'Khand', sans-serif;
  font-size: 4.9rem;
}

.container-fluid {
  padding: unset;
}

.sitelogo {
  width: 120px;
  border-radius: 10px;
}

.navbg {
  background-color: #fff;
  padding: 1% 7%;
}

.jumbo {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  height: 600px;
  width: 84%;
  margin: auto;
}















/* @Media Screen */
@media screen and (max-width: 500px) {
  .jumbo {
    height: 300px;
  }

  .fontsfam {
    font-family: 'Khand', sans-serif;
    font-size: 1.6rem;
  }
}


@media screen and (min-width: 501px) and (max-width: 681px) {
  .fontsfam {
    font-size: 3.9rem;
  }
}