@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@600&display=swap');


/* Fonts */

.fontsfam {
  font-family: 'Khand', sans-serif;
  font-size: 4.9rem;
  text-align: center;
}

.container-fluid {
  padding: unset;
}

.sitelogo {
  width: 120px;
  border-radius: 10px;
}

.navbg {
  background-color: #fff;
  padding: 1% 17%;
}

.jumbo {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  height: 560px;
  width: 70%;
  margin: auto;
  background-image: linear-gradient(178.5deg, rgba(122, 231, 248, 1) 6.5%, rgba(86, 118, 191, 1) 90.9%);
  color: #fff;
}

.to-right {
  display: flex;
  justify-items: right;
}

.herobutton {
  width: 300px;
  height: 50px;
  background-color: #e1e5ea;
  color: #000;
}

.herobutton:hover {
  background-color: #374045;
  color: #fff;
}

.lead {
  text-align: center;
}

.riddlesection {
  margin: 30px 10px;
}

.riddlegrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

#easy {
  background-color: #4aa96c;
}

#medium {
  background-color: #ffb26b;
}

#hard {
  background-color: #e84545;
}

div#heroanswer {
  background-color: unset;
  border: unset;
  width: 243px;
  margin: auto;
  align-items: center;
}


button.btn.btn-link {
  width: 323px;
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Khand', sans-serif;
}















/* @Media Screen */
@media screen and (max-width: 500px) {
  .jumbo {
    height: 436px;
    width: 84%;
  }

  .fontsfam {
    font-family: 'Khand', sans-serif;
    font-size: 1.6rem;
  }
}


@media screen and (min-width: 501px) and (max-width: 681px) {
  .jumbo {
    height: 436px;
    width: 84%;
  }

  .fontsfam {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 682px) and (max-width: 1217px) {

  .jumbo {
    height: 436px;
    width: 84%;
  }

  .fontsfam {
    font-size: 2.7rem;
  }

}